[user]
	mail = Soichiro Ogawa
	email = ogawaso@gmail.com
	name = Soichiro Ogawa
[core]
	editor = vim
[alias]
	au = add -u
	br = branch
	co = checkout
	ci = commit
	di = diff --color-words
	p = pull --rebase
	st = status
  kokomade = tag -f 'until' origin/master
  newspaper = log -p --reverse --color 'until'..origin/master
[color]
	ui = auto
[github]
	user = ogawaso
[commit]
	cleanup = whitespace
[push]
	default = simple
